html,body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    display: grid;
    width: 500px;
    height: 500px;
    border: 2px solid grey;
}